<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Todo sequelize</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-dark bg-primary justify-content-between">
    <div class="container">
      <a href="/" class="navbar-brand">Todo List(sequelize)</a>

      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-light">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">Login</a>
      {{/if}}
    </div>
  </nav>

  {{{body}}}
</body>

</html>